.post-item {
  .ant-list-empty-text {
    display: none;
  }

  .ant-tag {
    margin-top: 5px;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }

  .card-title {
    cursor: pointer;
    &:hover {
      color: #096dd9;
    }
  }

  .post-body {
    font-size: 16px;
    cursor: pointer;
    &:hover {
      color: #096dd9;
    }
  }

  .comment-header {
    cursor: pointer;
    &:hover {
      color: #096dd9;
    }
  }
}
